@font-face {
    font-family: 'Shine';
    src: url('../ShineMonday.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Shine', sans-serif;
}

.bg-pink-mist {
    background-color: #F7DAE7;
}

.bg-bubblegum {
    background-color: #E2B4C1;
}

.bg-cherry-soda {
    background-color: #D38C9D;
}

.bg-ruby-petals {
    background-color: #A55166;
}

.product-image {
    max-height: 370px;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.slide.active {
    opacity: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.about-section,
.vision-mission-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 100px;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F7DAE7;
}
.buy-button {
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #A55166;
}

.custom-modal-height {
    background-color: #F7DAE7;
    height: 100px;
    max-width: 500px;
}

.about-section,
.vision-mission-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-image {
    max-height: 300px;
}

@media (min-width: 768px) {

    .about-section,
    .vision-mission-section {
        padding: 0 50px;
    }
}