.bg-pink-mist {
    background-color: #F7DAE7;
}

.bg-bubblegum {
    background-color: #E2B4C1;
}

.bg-cherry-soda {
    background-color: #D38C9D;
}

.bg-ruby-petals {
    background-color: #A55166;
}